{% extends "layout.html" %}

{% block content %}
<div class="column">
<section class="section">
	<div class="content">
		<h2>Welcome to Bodhi !</h2><br>
		<p>Bodhi is a playground focused on learning the exploitation of client-side web vulnerabilities. The playground has vulnerable application & a bot program which simulates the real-world victim. An attacker will have knowledge of the vunerability and will send crafted payload which will be accessed by victim. The attacker need to complete objective by exploiting these vulnerabilities.</p><br>

		<p>The playground is a CTF style application where the objective is to read the flag available for each vulnerablity. Main vulnerability page has detailed information about scenarios & test accounts to be used.</p><br>

		<p>Happy Learning !!!</p>

		
	</div>
</section>
</div>

{% endblock %}
