{% extends "layout.html" %}

{% block content %}
<div class="column">
<section class="section">
	<nav class="navbar ">
		<div class="navbar-menu">
         <div class="navbar-start">
            <a class="navbar-item " href="/home">Home</a>
            <a class="navbar-item " href="/update_user">Update User</a>
            <a class="navbar-item " href="/flag2">Flag</a>
         </div>

         <div class="navbar-end">
            <a class="navbar-item" href="/logout" >Logout</a>
         </div>
      </div>
    </nav>
    <br>
	<div class="content">
		<h1>Flag</h1>
		<p>Here is your flag:</p>
		<br>
		<pre>{{ flag.flag_value }}</pre>      	
	</div>
</section>
</div>

{% endblock %}