{% extends "layout.html" %}

{% block content %}

{% if session['admin'] == 'yes' %}
<div class="column">
<section class="section">
	<nav class="navbar ">
		<div class="navbar-menu">
         <div class="navbar-start">
            <a class="navbar-item " href="/home">Home</a>
            <a class="navbar-item " href="/add_admin">Add Admin</a>
            <a class="navbar-item " href="/flag">Flag</a>
            <a class="navbar-item " href="/admin_messages">Messages</a>
         </div>

         <div class="navbar-end">
            <a class="navbar-item" href="/logout" >Logout</a>
         </div>
      </div>
    </nav>
    <br>
    <div class="content">
		<h2>Hello Admin</h2>
		<p>Welcome !!</p>
	</div>
</section>
</div>	
{% else %}
<div class="column">
<section class="section">
	<nav class="navbar ">
		<div class="navbar-menu">
         <div class="navbar-start">
            <a class="navbar-item " href="/home">Home</a>
            <a class="navbar-item " href="/send_message">Message Board</a>
            <a class="navbar-item " href="/add_admin_demo">Vulnerable Form</a>
            <a class="navbar-item " href="/upload">Upload PoC</a>
         </div>

         <div class="navbar-end">
            <a class="navbar-item" href="/logout" >Logout</a>
         </div>
      </div>
    </nav>
    <br>
	<div class="content">
		<h2>Hello User</h2>
		<p><strong>{{ chall_data.title }}</strong> vulnerability</p><br>
        <h4>Objective:</h4>
        <p>Create a new admin user by exploiting CSRF vulnerability demonstrated in "Vulnerable Form" and read the flag.</p><br>
		<h4>Attack:</h4>	      	
		<a class="button is-primary" href="/send_message">Attack with XSS</a>
		<a class="button is-primary" href="/upload">Attack with Page</a>
	</div>
</section>
</div>

{% endif %}		

{% endblock %}